@page
@model PinguBackend.Pages.WarcraftDB.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>wowDBitems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="wowDBitems.itemName" class="control-label"></label>
                <input asp-for="wowDBitems.itemName" class="form-control" />
                <span asp-validation-for="wowDBitems.itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wowDBitems.minBuyout" class="control-label"></label>
                <input asp-for="wowDBitems.minBuyout" class="form-control" />
                <span asp-validation-for="wowDBitems.minBuyout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wowDBitems.itemID" class="control-label"></label>
                <input asp-for="wowDBitems.itemID" class="form-control" />
                <span asp-validation-for="wowDBitems.itemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wowDBitems.oldPrice" class="control-label"></label>
                <input asp-for="wowDBitems.oldPrice" class="form-control" />
                <span asp-validation-for="wowDBitems.oldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wowDBitems.lastUpdated" class="control-label"></label>
                <input asp-for="wowDBitems.lastUpdated" class="form-control" />
                <span asp-validation-for="wowDBitems.lastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
